/config/acl.php
/node_modules
/nbproject
/public/hot
/public/storage
/storage/*.key
/tests/db
/tests/tmp
/vendor
/.idea
/.vagrant
/.vscode
/src/Git/GitRepository_model.php
.env
.env.backup
.phpunit.result.cache
phpunit.phar
phpunit.phar.asc
composer.phar
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log