<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    testdox="true" colors="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    bootstrap = "vendor/autoload.php"
    >
    <testsuites>
        <testsuite name="Package handler">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

